@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/woff2/vazir-regular.woff2') format('woff2'),
    url('../fonts/ttf/varzir-regular.ttf') format('truetype');
}

@font-face {
    font-family: vazir_light;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/woff2/vazir-light.woff2') format('woff2'),
    url('../fonts/ttf/vazir-light.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    padding-right: 0 !important;
}

* {
    font-family: vazir, Tahoma, serif;
    font-feature-settings: "ss01";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.shadow {
    -webkit-box-shadow: 1px 2px 30px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 2px 30px 2px rgba(0, 0, 0, .1);
    box-shadow: 1px 2px 30px 2px rgba(0, 0, 0, .1);
}

.transition-5 {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    color: #353652;
}

a:hover {
    text-decoration: none;
    color: #353652;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

li {
    list-style: none;
}

button:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

p, h1, h2, h3, h4, h5, h6, strong, div, a {
    color: #353652;
}


.IRANSans-Light {
    font-family: vazir_light, Tahoma, serif;
}


.IRANSans {
    font-family: vazir, Tahoma, serif;
}

/* dashboard */

.dashboard {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(25, 25, 25, 0.15);
    background-color: #fff;
}

.clear {
    clear: both;
}